@charset 'utf-8';

@font-face {
  font-family: 'やさしさゴシック';
  src: url('font/yasashisa_sub.woff');
}

body {
  font-family: 'やさしさゴシック';
  color: #fff;
  background-color: #9DD16D;
}

a:link, a:visited { color: brown; }
a:hover, a:active { color: orange; }

.background {
  position: fixed;
  top: 0; left: 0;
  z-index: -1;
}

#main {
  max-width: 32em;
  margin: 0 auto;
}

h2 {
  margin-top: 2em;
}
