@charset 'utf-8';

@font-face {
  font-family: 'やさしさゴシック';
  src: url('fonts/yasashisa_sub.woff');
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?du66iu');
  src:url('fonts/icomoon.eot?#iefixdu66iu')   format('embedded-opentype'),
      url('fonts/icomoon.woff?du66iu')        format('woff'),
      url('fonts/icomoon.ttf?du66iu')         format('truetype'),
      url('fonts/icomoon.svg?du66iu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon';
  speak: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'やさしさゴシック';
  color: #fff;
  background-color: #9DD16D;
  margin: 0;
  padding: 4em 1em;
}

.background {
  position: fixed;
  top: 0; left: 0;
  z-index: -1;
}

.container {
  max-width: 36em;
  margin: 0 auto;
}

#header {
}

.flex-box {
  display: flex;
}

.flex-item {
  width: 50%;
}

h1 {
  font-size: 3em;
  margin-bottom: .5em;
}

h2 {
  margin: 3em 0 1.5em;
}

h2 span {
  padding-bottom: .2em;
  border-bottom: .2em #fff solid;
}

.box-link {
  font-size: larger;
  color: #fff;
  background-color: #9DD16D;
  text-decoration: none;
  padding: .5em .7em;
  border: .2em #fff solid;
  border-radius: .5em;
  transition-property: background-color, color;
  transition-duration: 200ms;
}

.box-link:hover,
.box-link:active {
  color: #9DD16D;
  background-color: #fff;
}

.box-link:after {
  content: '▶';
  margin-left: 1em;
  vertical-align: middle;
  font-size: .5em;
}

ul {
  padding-left: 1em;
  line-height: 1.5em;
}

#sns {
  display: inline-block;
  font-size: 2em;
}

#sns a {
  color: white;
  text-decoration: none;
}

#sns a:hover,
#sns a:active {
  text-shadow: 0 0 .3em white;
}

#sns a span {
  display: none;
}

#sns .twitter:before {
  content: "\ea91";
}
#sns a.twitter:hover,
#sns a.twitter:active {
  color: #55acee;
}

#sns .facebook:before {
  content: "\ea8d";
}
#sns a.facebook:hover,
#sns a.facebook:active {
  color: #3b5999;
}

#sns .github:before {
  content: "\eab1";
}
#sns a.github:hover,
#sns a.github:active {
  color: black;
}

@media screen and (max-width: 768px){
  .flex-box {
    display: block;
  }
}
