@charset 'utf-8';

@font-face {
  font-family: 'やさしさゴシック';
  src: url('yasashisa_sub.woff');
}

body {
  font-family: 'やさしさゴシック';
  color: #fff;
  background-color: #9DD16D;
}

a:link, a:visited { color: #fff; }
a:hover, a:active { color: orange; }

.background {
  position: fixed;
  top: 0; left: 0;
  z-index: -1;
}

#main {
  max-width: 32em;
  margin: 0 auto;
}

h2 {
  margin-top: 2em;
}

ul {
  padding-left: 1em;
  line-height: 1.5em;
}

#sns {
  font-size: medium;
  vertical-align: bottom;
  display: inline-block;
}

#sns a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(social.png);
}

#sns a span {
  display: none;
}

#sns .twitter {
  background-position: left top;
}
#sns a.twitter:hover,
#sns a.twitter:active {
  background-position: left bottom;
}

#sns .facebook {
  background-position: center top;
}
#sns a.facebook:hover,
#sns a.facebook:active {
  background-position: center bottom;
}

#sns .github {
  background-position: right top;
}
#sns a.github:hover,
#sns a.github:active {
  background-position: right bottom;
}
