<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">

    <title>{{ page.title }}</title>

    <link rel="icon" href="{{ '/icon.png' | relative_url }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    <script src="{{ '/assets/ripple.js' | relative_url }}"></script>
    <script>
      window.onload = function() {
        const header = window.document.querySelector('header');
        new Ripple(header);
      }
    </script>
  </head>
  <body>
    <header>
      <div>
        <h1>{{ page.title }}</h1>
        <h2>{{ page.subtitle }}</h2>
      </div>
    </header>
    <main>
      <div>
        {{ content }}
      </div>
    </main>
  </body>
</html>
